.content,
.analytics,
.settings {
    width: 14em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.content:hover,
.analytics:hover,
.settings:hover {
    transform: scale(1.1);
}