.admin {
    height: 100%;
    width: 100%;
}

.adminNavbar {
    top: 0;
    width: 100vw;
    height: 5em;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 30px;
    position: relative;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.logout_container {
    position: absolute;
    right: 1em;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 5px 10px;
    text-decoration: none;
    color: (var(--secondary-color));
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.logout_container:hover {
    background-color: var(--tertiary-color);
}

.logout {
    aspect-ratio: 1;
    width: 2em;
    margin-left: .5em;
    pointer-events: none;
}

.logout_text {
    pointer-events: none;
}

.adminLogo {
    aspect-ratio: 1;
    width: 5em;
    margin-left: 1em;
}

.logo_item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 22px;
    font-weight: 500;
    pointer-events: none;
}

.navbar img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.navbar_content {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.navbar_content i {
    cursor: pointer;
    font-size: 20px;
    color: var(--secondary-color);
}

.sidebar {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: -8px 0 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 260px;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 90.5%;
    padding: 80px 20px;
    overflow-y: scroll;
    transition: all 0.5s ease;
}

.sidebar.sidebarClose {
    padding: 60px 0;
    width: 80px;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.menu_content {
    position: relative;
    top: 1em;
}

.menu_title {
    margin: 15px 0;
    padding: 0 20px;
    font-size: 18px;
}

.sidebar.sidebarClose .menu_title {
    padding: 6px 30px;
}

.menu_title::before {
    color: var(--secondary-color);
    white-space: nowrap;
}

.menu_dahsboard::before {
    content: "Dashboard";
}

.menu_editor::before {
    content: "Editor";
}

.menu_setting::before {
    content: "Setting";
}

.sidebar.sidebarClose .menu_title::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 18px;
    border-radius: 12px;
    background: var(--secondary-color);
}

.menu_items {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.navlink_icon {
    position: relative;
    font-size: 22px;
    min-width: 50px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 6px;
}

.navlink_icon::before {
    content: "";
    position: absolute;
    height: 100%;
    width: calc(100% + 100px);
    left: -20px;
}

.sidebar .nav_link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--grey-color);
    white-space: nowrap;
}

.navlink {
    margin-left: .5em;
}

.sidebar.sidebarClose .navlink {
    display: none;
}

.nav_link:hover {
    background: var(--tertiary-color);
}

.sidebar.sidebarClose .nav_link:hover {
    background: var(--secondary-color);
}

.item {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
    #sidebarOpen {
        font-size: 25px;
        display: block;
        margin-right: 10px;
        cursor: pointer;
        color: var(--secondary-color);
    }

    .sidebar.sidebarClose {
        left: -100%;
    }

    .search_bar {
        display: none;
    }

}