.contentTitle {
    text-align: center;
    margin-bottom: .5em;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.tablesButton {
    margin-top: 1em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 5px;
    transition: 0.3s;
}

.tablesButton:hover {
    background-color: #000;
}

.tables {
    display: flex;
    flex-direction: column;
}

.CoursesTable,
.LessonsTable,
.QuizzesTable,
.QuestionsTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.delete,
.edit,
.create,
.yes,
.no,
.close {
    cursor: pointer;
    transition: 0.3s;
    background-color: red;
    font-weight: bold;
    font-size: .6em;
    padding: 0.5em;
    border-radius: 5px;
    color: whitesmoke;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    &:hover,
    &:focus {
        transform: scale(1.1);
        font-size: 1em;
    }
}

.edit {
    background-color: #ffff00;
    color: #000;
}

.create,
.yes {
    background-color: #008000;
}

.close {
    background-color: #000;
    color: #f5f5f5;
    font-size: .8em;
}

.yes,
.no {
    display: flex;
    flex-grow: 1;
    font-size: 1em;
    justify-content: center;
}

.answerList,
.optionList,
.list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list li {
    font-size: 1em;
}

.admin {
    height: 100%;
}

.createButtonColumn:hover {
    background-color: #aca9a4;
}

.modalWrapper {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.deleteContent,
.createContent,
.editContent {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50em;
    height: 50em;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.buttons {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    bottom: 1em;
    padding: 0 1.5em;
}

.close {
    display: flex;
    position: absolute;
    top: 1em;
    right: 1em;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2em;
    font-size: 1.4em;
}

.modalContent span {
    margin-bottom: 1em;
}

.highlight {
    background-color: #000;
    color: #f5f5f5;
    font-weight: bold;
    border-radius: 1em;
    padding: 0.5em;
}

.spaceSaver {
    visibility: hidden;
}

.createModalForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.4em;
    border-radius: 5px;
    margin-bottom: 1.5em;
}

textarea {
    padding: 1em;
}

input[type="text"] {
    padding: .5em;
}

label[for="description"] {
    margin-top: 1em;
}

.submitButton {
    position: absolute;
    bottom: 1em;
}