main {
    margin: 0 auto;
}

.settingsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.settingsButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 1em;
    align-self: center;
}

.settingsForm {
    margin-bottom: 1em;
}

.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
}

.searchTitle,
.back {
    margin: 0 1em;
}

.settingsTitle {
    margin-top: 1em;
}

.settingsForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.registrationTitle {
    margin-right: 1em;
    font-weight: bold;
}

.registrationTitle select {
    margin-left: 1em;
}

.searchInput {
    border-radius: 5px;
    padding: 0.5em;
}

.registrationInput {
    margin-left: 1em;
    width: 15px;
    height: 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.registrationInput:checked {
    background-color: #2196f3;
    border-color: #2196f3;
}

.registrationInput:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.registrationInput:hover {
    background-color: #f2f2f2;
}

table {
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 1em;
}

th,
td {
    text-align: center;
    padding: .5em;
}

tr {
    cursor: pointer;
}

th {
    color: whitesmoke;
    width: 14em;
    text-align: center;
    border-bottom: 2px solid var(--secondary-text);
}

th:hover span {
    pointer-events: none;
}

td:hover span {
    pointer-events: none;
}

tbody {
    font-weight: bold;
}

tbody span,
tbody li,
tbody ul {
    pointer-events: none;
}

.tableHead {
    pointer-events: none;
}

tr {
    width: 5em;
    height: 3.5em;
}

tr:hover {
    color: var(--tertiary-color);
}

select {
    cursor: pointer;
    border-radius: .5em;
}

.actions select,
.edit {
    margin-right: 2em;
}

.deleteUser {
    cursor: pointer;
    --bg: #e74c3c;
    --text-color: var(--secondary-text);
    position: relative;
    width: 10em;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    padding: 1em;
    font-weight: bold;
    font-size: .6em;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
    transform: translateY(-5px);
}

.deleteUser:hover {
    opacity: 1;
}

.deleteUser:active {
    top: 4px;
    box-shadow: #c0392b 0px 3px 2px, #000 0px 3px 5px;
}