.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
    width: 100vw;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: -8px 0 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.catalog,
.leaderboard,
.myLearning,
.profile,
.logout {
    width: 14em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.catalog:hover,
.leaderboard:hover,
.myLearning:hover,
.profile:hover,
.logout:hover {
    transform: scale(1.1);
}

.navIcon {
    width: 2em;
}

.labels {
    font-size: 1.5em;
}

@media screen and (max-width: 600px) {
    .labels {
        display: none;
    }

    .navIcon {
        width: 7em;
    }
}