.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: -8px 0 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: .5em;
    width: 40vw;
    height: fit-content;
}

.login {
    --bg: #677D8C;
    --text-color: var(--secondary-text);
    height: 4em;
    width: 10em;
    margin-bottom: 2em;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #7892a3 0px 7px 2px, #000 0px 8px 5px;
    transform: translateY(-5px);
    cursor: pointer;
}

.username,
.password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.userTitle,
.passwordTitle {
    font-size: 1.5em;
}

.userInput,
.passwordInput {
    width: 25em;
    height: 3em;
    border-radius: 2em;
    padding: 1em;
}

.userInput:invalid,
.passwordInput:invalid {
    border-color: 2px solid red;
}

.userInput:valid,
.passwordInput:valid {
    border-color: 2px solid green;
}

.keepLoggedIn {
    display: flex;
    margin-top: 1em;
}

.subheading {
    margin-right: 1em;
}

.checkbox {
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.loginTitle {
    font-size: 2.5em;
    margin-bottom: .5em;
}

.login:hover {
    opacity: 1;
}

.login:active {
    top: 4px;
}

.signupAccount {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .login-form {
        width: 90vw;
        height: fit-content;
    }

    .login {
        font-size: 1.5em;
    }

    .userTitle,
    .passwordTitle {
        font-size: 2em;
    }

    .userInput,
    .passwordInput {
        width: 20em;
        height: 3em;
    }

    .checkbox {
        width: 1.5em;
    }

    .loginTitle {
        font-size: 3em;
    }

    .subheading {
        margin-right: 1.5em;
        font-size: 1em;
    }


}