.signup-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: -8px 0 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 1em;
    padding: .5em;
    width: 40vw;
    height: fit-content;
}

.signup {
    --bg: #677D8C;
    --text-color: var(--secondary-text);
    height: 4em;
    width: 10em;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #7892a3 0px 7px 2px, #000 0px 8px 5px;
    transform: translateY(-5px);
    cursor: pointer;
}

.signupUsername,
.signupPassword,
.signupEmail,
.signupConfirmPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.signupUserTitle,
.signupPasswordTitle,
.signupEmailTitle,
.signupConfirmPasswordTitle {
    font-size: 1.5em;
}

.signupUserInput,
.signupPasswordInput,
.signupEmailInput,
.signupConfirmPasswordInput {
    width: 25em;
    height: 3em;
    border-radius: 2em;
    padding: 1em;
}

.signupError {
    color: darkred;
    font-size: .8em;
    margin-top: .5em;
}

.keepLoggedIn {
    display: flex;
    margin-top: 1em;
}

.subheading {
    margin-right: 1em;
}

.checkbox {
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.signupTitle {
    font-size: 2.5em;
    margin-bottom: .5em;
}

.signup:hover {
    opacity: 1;
}

.signup:active {
    top: 4px;
}

.signupAlready {
    margin-top: 1em;
}

.signupAlready a {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .signup-form {
        width: 90vw;
        height: fit-content;
    }

    .signup {
        font-size: 1.5em;
    }

    .signupUserTitle,
    .signupPasswordTitle,
    .signupEmailTitle,
    .signupConfirmPasswordTitle {
        font-size: 1.5em;
    }

    .signupUserInput,
    .signupPasswordInput,
    .signupEmailInput,
    .signupConfirmPasswordInput {
        width: 20em;
        height: 3em;
    }

    .checkbox {
        width: 1.5em;
    }

    .signupTitle {
        font-size: 3em;
        margin-bottom: .5em;
    }

    .subheading {
        margin-right: 1.5em;
        font-size: 1em;
    }

    .signupAccount {
        width: 60vw;
    }

}