.landingPage {
    --bg: #677D8C;
    --text-color: var(--secondary-text);
    height: 4em;
    width: 10em;
    margin: 2em 0em;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    padding: 1em;
    font-weight: bold;
    font-size: .8em;
    width: fit-content;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #7892a3 0px 7px 2px, #000 0px 8px 5px;
    transform: translateY(-5px);
    cursor: pointer;
}

.login,
.signup {
    box-shadow: 0px 0px 20px #677D8C;
}

.landingPage:hover {
    opacity: 1;
}

.landingPage:active {
    top: 4px;
}

.signup:disabled,
.login:disabled {
    background-color: #000000;
    color: #6e6e6e;
    pointer-events: none;
    box-shadow: none;
}