footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #677d8c;
  width: 100%;
  font-size: 28px;
  padding-bottom: 1em;
  text-align: center;
  color: var(--primary-color);
}

.copyright {
  margin-top: 1em;
}

.copyright,
.media {
  pointer-events: none;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

li a {
  color: var(--secondary-text);
  text-decoration: none;
}

li a:hover {
<<<<<<< HEAD
  color: var(--primary-color);
=======
  color: var(--tertiary-text)
>>>>>>> 2e56a6ca796d8fa947dfe18305d354f372295362
}

.break {
  margin-left: 0.5em;
  font-size: 28px;
}

@media screen and (max-width: 600px) {
  footer {
    font-size: 12px;
  }
}