.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  margin-bottom: 1em;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 0;
  height: fit-content;
}

.logo {
  aspect-ratio: 1;
  width: 9vw;
  margin-left: 1em;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 16vw;
    height: 12vh;
  }
}

@media screen and (min-width: 1000px) {
  .title {
    font-size: 52px;
  }

  .sectiontitle {
    font-size: 28px;
  }
}
