* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --primary-color: #e5f1f2;
  --secondary-color: #ACA9A4;
  --tertiary-color: #677D8C;
  --supplemental-color: #4A4C52;
  --primary-text: #000;
  --secondary-text: #ffffff;
  --tertiary-text: #ACA9A4;
}

body {
  height: 100vh;
  background-color: var(--primary-color);
  background-image: linear-gradient(135deg, rgba(103, 125, 140, 1) 0%, rgba(172, 169, 164, 1) 100%);
  background-attachment: fixed;
  color: var(--secondary-text);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  height: 90vh;
  width: 80%;
}

.logo {
  width: 10em;
  height: 10em;
}

.title {
  font-size: 42px;
}

.sectiontitle {
  font-size: 22px;
}

.subheading {
  font-size: 19px;
}

.subsubheading {
  font-size: 12px;
}

.text {
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 30px;
  }

  .sectiontitle {
    font-size: 16px;
  }

  .subheading {
    font-size: 10px;
  }

  .subsubheading {
    font-size: 10px;
  }

  .text {
    font-size: 10px;
  }

  .logo {
    width: 7em;
    height: 7em;
  }
}
