.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 42px;
}

.sectiontitle {
  font-size: 28px;
}

.subheading {
  font-size: 21px;
}

.subsubheading {
  font-size: 14px;
}

.text {
  font-size: 14px;
}