footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #677D8C;
    width: 100%;
    font-size: 18px;
    padding-bottom: 1em;
    text-align: center;
}

.copyright {
    margin-top: 1em;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: .5em;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.break {
    margin-left: 0.5em;
    font-size: 28px;
}

@media screen and (max-width: 600px) {
    footer {
        font-size: 12px;
    }
}